body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #292929, #000000);
    color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
  
  h1 {
    color: #00b3b3;
  }
  
  h3 {
    color: #66cccc;
  }
  
  label {
    color: #ffffff;
    font-weight: bold;
  }
  
  select,
  input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #666666;
    background-color: #333333;
    color: #ffffff;
    margin: 8px 0;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #006666;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #008080;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }
  